body {
    margin: 0;
}

.vertical-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #ffffff;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.vertical-nav li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

.vertical-nav li a.active {
    background-color: rgb(51, 122, 183);
    color: white;
}

.vertical-nav li a:hover:not(.active) {
    background-color: #555;
    color: white;
}