<nav class="navbar navbar-inverse" style="padding-top:15px;">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Wakanda Library Dashboard</a>
        </div>
    
            <button type="button" class="btn btn-primary btn-circle pull-right" (click)="logout()"><i class="glyphicon glyphicon-log-in"></i></button>
        
    </div>
</nav>
<div class="vertical-nav">
    <ul>
        <li><a [routerLink]="['/book']">Books</a></li>
        <li><a [routerLink]="['/customer']">Customers</a></li>
        <li><a [routerLink]="['/borrowed']">Borrowed Books</a></li>
        <li><a [routerLink]="['/availibility']">Book Availability</a></li>
        <li><a [routerLink]="['/addbook']">Add a Book</a></li>
        <li><a [routerLink]="['/addcustomer']">Add a Customer</a></li>
        <li><a [routerLink]="['/updatebook']">Book Update</a></li>
        <li><a [routerLink]="['/updatecustomer']">Customer Update</a></li>
    </ul>
</div>
