<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Wakanda Library Dashboard</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a [routerLink]="['/']"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
        </ul>
    </div>
</nav>
<div class="vertical-nav">
    <ul>
        <li><a [routerLink]="['/book']">Books</a></li>
        <li><a [routerLink]="['/customer']">Customers</a></li>
        <li><a [routerLink]="['/borrowed']">Borrowed Books</a></li>
        <li><a [routerLink]="['/availibility']">Book Availability</a></li>
        <li><a [routerLink]="['/addbook']">Add a Book</a></li>
        <li><a [routerLink]="['/addcustomer']">Add a Customer</a></li>
        <li><a [routerLink]="['/updatebook']">Book Update</a></li>
        <li><a [routerLink]="['/updatecustomer']">Customer Update</a></li>
    </ul>
</div>
<div style="margin-left:25%;padding:1px 16px;height:1000px;">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-book"></i></span>
        <input type="text" name="book-isbn" tabindex="1" placeholder="Book ISBN" class="form-control" />
    </div>
    <br>
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
        <input type="text" name="book-title" tabindex="2" placeholder="Book Title" class="form-control" />
    </div>
    <br>
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input type="text" name="author" tabindex="3" placeholder="Author" class="form-control" />
    </div>
    <br>
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-menu-hamburger"></i></span>
        <input type="text" name="copies" tabindex="4" placeholder="Numbre of Copies" class="form-control" />
    </div>
    <br>
    <button type="button" class="btn btn-primary glyphicon glyphicon-plus pull-right"></button>    
</div>